.selectorToggle {
    position: relative;
    background-color: var(--activeColor);
    color: var(--textColor);
    border-radius: 3rem;
    padding: 4rem 10rem 4rem 35rem;
    font-size: var(--fontSizeM);
    max-width: 50%;

    &:hover {
        background-color: var(--activeColorBright);
    }
}

.iconSlot {
    position: absolute;
    left: 10rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.selectorLabel {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
