.selectDistrictsButton {
    flex-grow: 1;
    margin-top: var(--gap4);
    margin-bottom: var(--gap8);
    margin-left: var(--gap8);
    margin-right: var(--gap8);
    padding-top: 10rem;
    padding-bottom: 10rem;
}
