
.selectorToggle {
    background: rgba(120, 130, 145, 0.5) !important;
    color: white !important;
    border-radius: 3rem;
    padding: 4rem 10rem;
}

.selectorToggle:hover {
    background: rgba(93, 102, 116, 0.9) !important;
}
