.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row + .row {
    padding-top: 16rem;
}

.buildingName {
    flex: 1;
    min-width: 0;
    color: var(--textColor);
    font-size: var(--fontSizeM);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.groupSelector {
    flex-shrink: 0;
    max-width: 50%;
    margin-left: var(--gap8);
}
