.row {
    display: flex;
    align-items: flex-start;
}
.row + .row {
    margin-top: 16rem;
}

.buildingDetails {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: var(--gap8)
}

.buildingName {
    flex: 1;
    min-width: 0;
    color: var(--textColor);
    font-size: var(--fontSizeM);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.groupSelector {
    flex-shrink: 0;
    width: 35%;
    margin-left: var(--gap8);
    text-align: left;
}
