$horizontal-padding: 16rem;

.panel {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    border-top-left-radius: var(--panelRadius);
    border-top-right-radius: var(--panelRadius);
    border-bottom-left-radius: var(--panelRadius);
    border-bottom-right-radius: var(--panelRadius);
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--gap8);
    padding-bottom: var(--gap8);
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    color: var(--accentColorNormal);
    background-color: var(--panelColorDark);
    backdrop-filter: var(--panelBlur);
    border-bottom-style: solid;
    border-bottom-width: var(--stroke2);
    border-bottom-color: var(--accentColorDark);
}

.title {
    font-size: var(--fontSizeXL);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.panelContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    background-image: linear-gradient(var(--panelGradientStart), var(--panelGradientEnd));
    background-color: var(--panelColorNormal);
    backdrop-filter: var(--panelBlur);
}
:global(.legacy-interface) .panelContent {
    background-image: none;
}

.actionSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $horizontal-padding;
    padding-right: $horizontal-padding;
    padding-bottom: $horizontal-padding;
    padding-left: $horizontal-padding;
    background-color: rgba(19, 28, 48, 0.75)
}

.newGroupButton {
    font-size: var(--fontSizeM);
    padding-top: var(--gap4);
    padding-bottom: var(--gap4);
    border: none;
    text-transform: none;
}
.newGroupButton:hover {
    border: none;
}

.list {
    color: var(--textColorDim);
    flex: 1;
    min-height: 0;
    padding-top: $horizontal-padding;
    padding-bottom: $horizontal-padding;
    padding-left: $horizontal-padding;
}

.footer {
    padding-top: var(--gap8);
    padding-bottom: var(--gap8);
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    background-color: var(--panelColorDark);
    backdrop-filter: var(--panelBlur);
}

.areasToggleRow {
    justify-content: flex-end;
    padding-top: var(--gap4);
    padding-bottom: var(--gap4);
    color: var(--textColorDim);
}
