.buildingNameCell {
    color: var(--textColor);
    display: flex;
}

.buildingTypeIcon {
    --size: 24rem;
    margin-right: 4rem;
}

.buildingName {
    font-size: var(--fontSizeM);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.assetName {
    font-size: var(--fontSizeS);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
