@use "../styles/transitions" as *;

.panelToggleButton {
    pointer-events: auto;
    width: 40rem;
    height: 40rem;
    background: rgb(75, 195, 241);
    border-radius: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelToggleButton:hover {
    background: rgb(122, 211, 245);
}

.panelShell {
    position: absolute;
    // taken from the Info Panel, should be ~50px
    top: calc(var(--screenPadding) + var(--floatingToggleSize));
    width: 490rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    color: var(--textColorDim);
    border-radius: var(--panelRadius);
    font-size: var(--fontSizeS);
    overflow: hidden;
    transform-origin: 50% 100%;

    @include enter-exit-transition(
        150ms,
        (opacity: 0, transform: translateY(15rem), pointer-events: none),
        (opacity: 1, transform: translateY(0), pointer-events: auto)
    );
}
