.panelToggleButton {
    pointer-events: auto;
    width: 40rem;
    height: 40rem;
    background: rgb(75, 195, 241);
    border-radius: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelToggleButton:hover {
    background: rgb(122, 211, 245);
}
